In [4]:
import pandas as pd

In [8]:
df_orders =  pd.read_excel("List_of_Orders_1.xlsx")

In [10]:
df_details =  pd.read_excel("Order_Details_1.xlsx")

In [12]:
df_target =  pd.read_excel("Sales_target_1.xlsx")

In [14]:
print(df_orders.head())

  Order ID Order Date CustomerName           State       City
0  B-25601 2018-04-01       Bharat         Gujarat  Ahmedabad
1  B-25602 2018-04-01        Pearl     Maharashtra       Pune
2  B-25603 2018-04-03        Jahan  Madhya Pradesh     Bhopal
3  B-25604 2018-04-03       Divsha       Rajasthan     Jaipur
4  B-25605 2018-04-05      Kasheen     West Bengal    Kolkata

In [16]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      500 non-null    object
 1   Order Date    500 non-null    datetime64[ns]
 2   CustomerName  500 non-null    object
 3   State         500 non-null    object
 4   City          500 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 19.7+ KB

In [18]:
print(df_orders.describe(include='all'))

       Order ID                     Order Date CustomerName           State  \
count       500                            500          500             500
unique      500                            NaN          332              19
top     B-25601                            NaN       Shreya  Madhya Pradesh
freq          1                            NaN            6             101
mean        NaN  2018-10-21 11:11:02.400000256          NaN             NaN
min         NaN            2018-04-01 00:00:00          NaN             NaN
25%         NaN            2018-07-20 18:00:00          NaN             NaN
50%         NaN            2018-11-05 12:00:00          NaN             NaN
75%         NaN            2019-01-25 00:00:00          NaN             NaN
max         NaN            2019-03-31 00:00:00          NaN             NaN

          City
count      500
unique      24
top     Indore
freq        76
mean       NaN
min        NaN
25%        NaN
50%        NaN
75%        NaN
max        NaN

In [20]:
print(df_orders['State'].value_counts())

State
Madhya Pradesh       101
Maharashtra           90
Rajasthan             32
Gujarat               27
Punjab                25
Uttar Pradesh         22
Delhi                 22
West Bengal           22
Karnataka             21
Kerala                16
Bihar                 16
Nagaland              15
Andhra Pradesh        15
Jammu and Kashmir     14
Haryana               14
Himachal Pradesh      14
Goa                   14
Sikkim                12
Tamil Nadu             8
Name: count, dtype: int64

In [22]:
print(df_details.head())

  Order ID  Amount  Profit  Quantity     Category      Sub-Category
0  B-25601    1275   -1148         7    Furniture         Bookcases
1  B-25601      66     -12         5     Clothing             Stole
2  B-25601       8      -2         3     Clothing       Hankerchief
3  B-25601      80     -56         4  Electronics  Electronic Games
4  B-25602     168    -111         2  Electronics            Phones

In [24]:
df_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1500 non-null   object
 1   Amount        1500 non-null   int64
 2   Profit        1500 non-null   int64
 3   Quantity      1500 non-null   int64
 4   Category      1500 non-null   object
 5   Sub-Category  1500 non-null   object
dtypes: int64(3), object(3)
memory usage: 70.4+ KB

In [26]:
print(df_details.describe())

            Amount       Profit     Quantity
count  1500.000000  1500.000000  1500.000000
mean    287.668000    15.970000     3.743333
std     461.050488   169.140565     2.184942
min       4.000000 -1981.000000     1.000000
25%      45.000000    -9.250000     2.000000
50%     118.000000     9.000000     3.000000
75%     322.000000    38.000000     5.000000
max    5729.000000  1698.000000    14.000000

In [28]:
print(df_details['Category'].value_counts())

Category
Clothing       949
Electronics    308
Furniture      243
Name: count, dtype: int64

In [30]:
print(df_details['Sub-Category'].value_counts().head(10))

Sub-Category
Saree               210
Hankerchief         198
Stole               192
Phones               83
Bookcases            79
Electronic Games     79
T-shirt              77
Printers             74
Chairs               74
Furnishings          73
Name: count, dtype: int64

In [32]:
print(df_target.head())

  Month of Order Date   Category  Target
0          2025-04-18  Furniture   10400
1          2025-05-18  Furniture   10500
2          2025-06-18  Furniture   10600
3          2025-07-18  Furniture   10800
4          2025-08-18  Furniture   10900

In [34]:
df_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Month of Order Date  36 non-null     datetime64[ns]
 1   Category             36 non-null     object
 2   Target               36 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 996.0+ bytes

In [36]:
print(df_target.describe())

       Month of Order Date        Target
count                   36     36.000000
mean   2025-07-03 18:00:00  12108.333333
min    2025-01-19 00:00:00   9000.000000
25%    2025-04-10 12:00:00  10050.000000
50%    2025-07-03 00:00:00  11450.000000
75%    2025-09-25 12:00:00  14500.000000
max    2025-12-18 00:00:00  16000.000000
std                    NaN   2667.837541

In [38]:
df_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Month of Order Date  36 non-null     datetime64[ns]
 1   Category             36 non-null     object
 2   Target               36 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 996.0+ bytes

In [40]:
df_merged = pd.merge(df_orders, df_details, on='Order ID', how='inner')

In [42]:
print(df_merged.head())

  Order ID Order Date CustomerName        State       City  Amount  Profit  \
0  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad    1275   -1148
1  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad      66     -12
2  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad       8      -2
3  B-25601 2018-04-01       Bharat      Gujarat  Ahmedabad      80     -56
4  B-25602 2018-04-01        Pearl  Maharashtra       Pune     168    -111

   Quantity     Category      Sub-Category
0         7    Furniture         Bookcases
1         5     Clothing             Stole
2         3     Clothing       Hankerchief
3         4  Electronics  Electronic Games
4         2  Electronics            Phones

In [62]:
df_merged

,Order ID,Order Date,CustomerName,State,City,Amount,Profit,Quantity,Category,Sub-Category,Profit Margin %
0,B-25601,2018-04-01,Bharat,Gujarat,Ahmedabad,1275,-1148,7,Furniture,Bookcases,-90.039216
1,B-25601,2018-04-01,Bharat,Gujarat,Ahmedabad,66,-12,5,Clothing,Stole,-18.181818
2,B-25601,2018-04-01,Bharat,Gujarat,Ahmedabad,8,-2,3,Clothing,Hankerchief,-25.000000
3,B-25601,2018-04-01,Bharat,Gujarat,Ahmedabad,80,-56,4,Electronics,Electronic Games,-70.000000
4,B-25602,2018-04-01,Pearl,Maharashtra,Pune,168,-111,2,Electronics,Phones,-66.071429
...,...,...,...,...,...,...,...,...,...,...,...
1495,B-26099,2019-03-30,Bhishm,Maharashtra,Mumbai,835,267,5,Electronics,Phones,31.976048
1496,B-26099,2019-03-30,Bhishm,Maharashtra,Mumbai,2366,552,5,Clothing,Trousers,23.330516
1497,B-26100,2019-03-31,Hitika,Madhya Pradesh,Indore,828,230,2,Furniture,Chairs,27.777778
1498,B-26100,2019-03-31,Hitika,Madhya Pradesh,Indore,34,10,2,Clothing,T-shirt,29.411765
1499,B-26100,2019-03-31,Hitika,Madhya Pradesh,Indore,72,16,2,Clothing,Shirt,22.222222

In [48]:
category_sales = df_merged.groupby("Category")["Amount"].sum().reset_index()
category_sales.columns = ["Category", "Total Sales"]
category_sales

      Category  Total Sales
0     Clothing       139054
1  Electronics       165267
2    Furniture       127181

In [52]:
category_avg_profit = df_merged.groupby("Category")["Profit"].mean().reset_index()
category_avg_profit.columns = ["Category", "Avg Profit per Order"]

In [54]:
df_merged["Profit Margin %"] = (df_merged["Profit"] / df_merged["Amount"]) * 100
category_profit_margin = df_merged.groupby("Category")["Profit Margin %"].mean().reset_index()
category_profit_margin.columns = ["Category", "Avg Profit Margin (%)"]

In [56]:
sales_summary = category_sales.merge(category_avg_profit, on="Category").merge(category_profit_margin, on="Category")
sales_summary

      Category  Total Sales  Avg Profit per Order  Avg Profit Margin (%)
0     Clothing       139054             11.762908               4.132921
1  Electronics       165267             34.071429              -0.622928
2    Furniture       127181              9.456790              -6.788811

In [58]:
top_category = sales_summary.loc[sales_summary["Avg Profit Margin (%)"].idxmax()]
low_category = sales_summary.loc[sales_summary["Avg Profit Margin (%)"].idxmin()]

In [60]:
print("Best Performing Category:", top_category["Category"])
print("Least Performing Category:", low_category["Category"])

Best Performing Category: Clothing
Least Performing Category: Furniture